[submodule "5614116-go-fullstack-recipe-frontend.git"]
	path = 5614116-go-fullstack-recipe-frontend.git
	url = https://github.com/OpenClassrooms-Student-Center/5614116-go-fullstack-recipe-frontend.git
